
html {
  background-image: url('https://cdn.discordapp.com/attachments/726553881672155280/746837875177554012/unknown.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  background-color: #2699FB;
  width: 15%;
  height: 9%;
  border-radius: 35px;
}

#words {
  font-weight: 900;
  font-style: italic;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
}

#login {
  position: absolute;
  left: 30%;
  top: 70%;
}

#signup {
  position: absolute;
  left: 55%;
  top: 70%;
}

#link {
  text-decoration: none;
  color: white;
}

#link:hover {
  text-decoration: line-through;
  color: gray;
}

.signup-form {
  position: absolute;
  left: 55%;
  top: 50%;
}

.form {
  font-weight: 800;
  color: white;
}

.submit-button {
  border-radius: 30px;
  color: white;
  font-weight: 900;
  background-color:#2699FB;
}

.form-box {
  z-index: 10;
  border-color: black;
  border-radius: 10px;
  position: absolute;
  left: 45%;
  top: 55%;
}

input {
  border-radius: 20px;
}
